.navbar-brand img {
  width: 130px;
}

.feature-item img {
  width: 50px;
  height: 50px;
}

.list-group-item {
  background: #f8f9fa;
}

.subcribe {
  background-image: url(./img/subscribe.jpg);
  background-size: cover;
  background-position: center;
}

.brand-icon img {
  width: 130px;
}

.blur-filter {
  backdrop-filter: blur(8px);
  background-color: #cccccc30;
}
